<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<section class="contact-form">
    <h1 class="title">Contact Form</h1>
    <form action="#" th:action="@{/contact}" th:object="${contact}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <div class="w-100">
            <label class="label">Name</label>
            <input type="text" th:field="*{name}"/>
        </div>

        <div class="w-100">
            <label class="label">Last Name</label>
            <input type="text" th:field="*{lastName}"/>
        </div>

        <div class="w-100">
            <label class="label">Age</label>
            <input type="number" th:field="*{age}"/>
        </div>

        <div class="w-100 align-center">
            <input type="submit" value="Submit"/>
            <a href="/" class="button">Cancel</a>
        </div>
    </form>
</section>
</body>
</html>